body{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-weight:700;
  font-size: 30px;
  margin-top: 30px;
}
.move-icon{
  width: 50px;
}
.move-button{
  background-color: transparent;
  border:solid white 3px;
  border-radius: 100px;
  padding:30px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 250ms;
}
.move-button:hover{
  background-color:white;
}
.result{
  font-weight:bold;
  font-size: 25px;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-button{
  background-color: white;
  font-size:15px;
  padding:8px 15px;
  border: none;
  cursor: pointer;
}